<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/css/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css">
      <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{> header }}


    <div class="container">
        {{{body}}}
    </div>
    <script src="/js/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
